In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
# import os
import xlrd
import xlsxwriter

In [ ]:

# 在下方输入需要合并的文件所在文件夹位置
path='/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据'
# 在下方输入合并后Excel的路径和文件名
work=xlsxwriter.Workbook('录取汇总信息.xls')
# 新建一个sheet
sheet=work.add_worksheet('combine')

file_list=os.listdir(path)
file_list.sort()

# Main
file_name='';
x1=1; x2=1;
fileNum = len(file_list)
print("在该目录下有%d个xls文件"%fileNum)
for file in file_list:
    if '录取' in file:                       #此处需要修改！
        file_name = os.path.join(path,file) 
    else:
        continue

    workbook=xlrd.open_workbook(file_name)
    sheet_name=workbook.sheet_names()

    for file_1 in sheet_name:
        table=workbook.sheet_by_name(file_1)
        rows=table.nrows
        clos=table.ncols

        for i in range(rows): 
            sheet.write_row('A'+str(x1),table.row_values(i))
            x1+=1

    print('正在合并第%d个文件 '%x2)
    print('已完成 ' + file_name)
    x2 += 1;
    
print("已将%d个文件合并完成"%fileNum)
work.close()

In [3]:
import pandas as pd

In [ ]:
file2 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2016年本科层次、高职层次新生录取名单（分析用）.xls"

In [ ]:
df2016_luqu = pd.read_excel(file2)

In [ ]:
df2016_luqu.head()

In [ ]:
file3 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2018年本科新生录取信息（分析用）.xls"

In [ ]:
df2018_luqu = pd.read_excel(file3)

In [ ]:
file4 = "/Users/ichigo34/Downloads/2.招生数据分析项目/高考分数相关/高考相关数据.xlsx"

In [ ]:
score_line_2016 = pd.read_excel(file4,sheet_name='2016')

In [ ]:
score_line_2016.head()

In [ ]:
len(score_line_2016)

In [ ]:
score_line_2017 = pd.read_excel(file4,sheet_name='2017')

In [ ]:
score_line_2017.head()

In [ ]:
score_line_2018 = pd.read_excel(file4,sheet_name='2018') # df.at['two','pop']

In [ ]:
score_line_2018.head()

In [ ]:
score_line_2018.tail()

In [ ]:
df2016_luqu.iloc[5,7]

In [ ]:
score_line_2016.iloc[5,0]

In [ ]:
df2016_luqu.iloc[5,6]

In [ ]:
df2016_luqu.iloc[5,26]

In [ ]:
df2016_luqu.iloc[5,29]

In [ ]:
score_line_2016.iloc[5,2]

In [ ]:
score_line_2016.iloc[5,3]

In [ ]:
for i in range(len(df2016_luqu)):
    for j in range(len(score_line_2016)):
        if df2016_luqu.iloc[i,7] == score_line_2016.iloc[j,0]:# 省份名称相同
            if df2016_luqu.iloc[i,6] == '文科':
                df2016_luqu.iloc[i,26] =  int(score_line_2016.iloc[j,2])  # 文科一批
            else:
                df2016_luqu.iloc[i,26] =  int(score_line_2016.iloc[j,3])  # 理科一批

In [ ]:
df2016_luqu['各省一本线']

In [ ]:
df2016_luqu['各省一本线'].describe()

In [ ]:
#2016艺术类分数线
for i in range(len(df2016_luqu)):
    for j in range(len(score_line_2016)):
        if df2016_luqu.iloc[i,7] == score_line_2016.iloc[j,0]:# 省份名称相同
            if df2016_luqu.iloc[i,6] == '文科':
                df2016_luqu.iloc[i,27] =  int(score_line_2016.iloc[j,8])  # 文科艺术
            else:
                df2016_luqu.iloc[i,27] =  int(score_line_2016.iloc[j,9])  # 理科艺术

In [ ]:
df2016_luqu['各省艺术类本科线']

In [ ]:
df2016_luqu['各省艺术类本科线'].describe()

In [ ]:
df2016_luqu.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2016年录取信息新.xls', index = False)

In [ ]:
#2018一本线
for i in range(len(df2018_luqu)):
    for j in range(len(score_line_2018)):
        if df2018_luqu.iloc[i,7] == score_line_2018.iloc[j,0]:# 省份名称相同
            if df2018_luqu.iloc[i,6] == '文科':
                df2018_luqu.iloc[i,26] =  int(score_line_2018.iloc[j,2])  # 文科一批
            else:
                df2018_luqu.iloc[i,26] =  int(score_line_2018.iloc[j,3])  # 理科一批

In [ ]:
df2018_luqu['省一本线（文、理）']

In [ ]:
#2018艺术类分数线
for i in range(len(df2018_luqu)):
    for j in range(len(score_line_2018)):
        if df2018_luqu.iloc[i,7] == score_line_2018.iloc[j,0]:# 省份名称相同
            if df2018_luqu.iloc[i,6] == '文科':
                df2018_luqu.iloc[i,27] =  int(score_line_2018.iloc[j,8])  # 文科艺术
            else:
                df2018_luqu.iloc[i,27] =  int(score_line_2018.iloc[j,9])  # 理科艺术

In [ ]:
df2018_luqu['省艺术类最低控制线（文、理）']

In [ ]:
df2018_luqu.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2018年录取信息新.xls', index = False)

In [ ]:
file5 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/报名信息汇总.xls"
df_baoming = pd.read_excel(file5)

In [ ]:
file6 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/合格汇总信息.xls"
df_hege = pd.read_excel(file6)

In [ ]:
file7 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/录取汇总信息.xls"
df_luqu = pd.read_excel(file7)

In [ ]:
df_baoming['毕业中学所在省']

In [ ]:
df_baoming.shape[1]

In [43]:
file9 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/合格汇总信息2016.xls"
df_hege_2016 = pd.read_excel(file9)
file10 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/录取汇总信息2016.xls"
df_luqu_2016 = pd.read_excel(file10)

In [55]:
file8 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/报名信息汇总2016.xls"
df_baoming_2016 = pd.read_excel(file8)

In [ ]:
for i in range(len(df_baoming_2016)):
    for j in range(len(df_hege_2016)):
        if df_baoming_2016.iloc[i,7] == df_hege_2016.iloc[j,9]: # 专业考试准考证号相同
            df_baoming_2016.iloc[i,19] = df_hege_2016.iloc[j,5] # 毕业中学所在省
            df_baoming_2016.iloc[i,20] = df_hege_2016.iloc[j,6] # 毕业中学类别
            df_baoming_2016.iloc[i,26] = df_hege_2016.iloc[j,19] # 户籍所在市
            df_baoming_2016.iloc[i,27] = df_hege_2016.iloc[j,20] # 户籍所在县
            df_baoming_2016.iloc[i,28] = df_hege_2016.iloc[j,7] # 专业成绩
            df_baoming_2016.iloc[i,29] = df_hege_2016.iloc[j,27] # 考试科目

In [20]:
df_baoming_2016.iloc[8159,7]

16110101010002

In [21]:
time_start = time.time()
for j in range(len(df_luqu_2016)):
    if df_luqu_2016.iloc[j,10] != 0: # 专业考试准考证号不为空或*
        if df_baoming_2016.iloc[8159,7] == df_luqu_2016.iloc[j,10]: # 专业考试准考证号相同
            df_baoming_2016.iloc[8159,30] = df_luqu_2016.iloc[j,12] # 原专业排名
            df_baoming_2016.iloc[8159,31] = df_luqu_2016.iloc[j,13] # 现专业排名
            df_baoming_2016.iloc[8159,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
            df_baoming_2016.iloc[8159,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
            df_baoming_2016.iloc[8159,34] = df_luqu_2016.iloc[j,16] # 语文
            df_baoming_2016.iloc[8159,35] = df_luqu_2016.iloc[j,17] # 数学
            df_baoming_2016.iloc[8159,36] = df_luqu_2016.iloc[j,18] # 英语
            df_baoming_2016.iloc[8159,37] = df_luqu_2016.iloc[j,19] # 文综
            df_baoming_2016.iloc[8159,38] = df_luqu_2016.iloc[j,20] # 理综
            df_baoming_2016.iloc[8159,39] = df_luqu_2016.iloc[j,21] # 附加分
            df_baoming_2016.iloc[8159,40] = df_luqu_2016.iloc[j,22] # 总成绩
            df_baoming_2016.iloc[8159,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
            df_baoming_2016.iloc[8159,42] = df_luqu_2016.iloc[j,24] # 各省一本线
            df_baoming_2016.iloc[8159,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
            df_baoming_2016.iloc[8159,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
    else:
        if df_baoming_2016.iloc[8159,21] == df_luqu_2016.iloc[j,2]: # 高考报名号相同
            df_baoming_2016.iloc[8159,30] = df_luqu_2016.iloc[j,12] # 原专业排名
            df_baoming_2016.iloc[8159,31] = df_luqu_2016.iloc[j,13] # 现专业排名
            df_baoming_2016.iloc[8159,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
            df_baoming_2016.iloc[8159,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
            df_baoming_2016.iloc[8159,34] = df_luqu_2016.iloc[j,16] # 语文
            df_baoming_2016.iloc[8159,35] = df_luqu_2016.iloc[j,17] # 数学
            df_baoming_2016.iloc[8159,36] = df_luqu_2016.iloc[j,18] # 英语
            df_baoming_2016.iloc[8159,37] = df_luqu_2016.iloc[j,19] # 文综
            df_baoming_2016.iloc[8159,38] = df_luqu_2016.iloc[j,20] # 理综
            df_baoming_2016.iloc[8159,39] = df_luqu_2016.iloc[j,21] # 附加分
            df_baoming_2016.iloc[8159,40] = df_luqu_2016.iloc[j,22] # 总成绩
            df_baoming_2016.iloc[8159,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
            df_baoming_2016.iloc[8159,42] = df_luqu_2016.iloc[j,24] # 各省一本线
            df_baoming_2016.iloc[8159,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
            df_baoming_2016.iloc[8159,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 0.038851s

In [22]:
print(df_baoming_2016.iloc[[8159]])

      招生年度  报名类型 性别   院系      专业          专业方向  考点            准考证号 是否往报  \
8159  2016  全国统招  女  文学系  戏剧影视文学  戏剧影视文学（创意策划）  北京  16110101010002    是

            出生日期  ...    数学     英语     文综  理综  附加分    总成绩 文化课总成绩比值（含附加分）  \
8159  1998-02-23  ...  71.0  108.0  207.0 NaN  0.0  493.0       0.930189

      各省一本线 各省艺术类本科线  志愿顺序
8159  530.0    309.0   1.0

[1 rows x 45 columns]

In [49]:
df_baoming_2016.iloc[577,21]

'16110102110419'

In [39]:
import cmath

In [44]:
print(df_luqu_2016.iloc[266,10] == 0)

True

In [50]:
time_start = time.time()
for j in range(len(df_luqu_2016)):
    if df_luqu_2016.iloc[j,10] != 0: # 专业考试准考证号不为空
        if df_baoming_2016.iloc[577,7] == int(df_luqu_2016.iloc[j,10]): # 专业考试准考证号相同
            df_baoming_2016.iloc[577,30] = df_luqu_2016.iloc[j,12] # 原专业排名
            df_baoming_2016.iloc[577,31] = df_luqu_2016.iloc[j,13] # 现专业排名
            df_baoming_2016.iloc[577,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
            df_baoming_2016.iloc[577,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
            df_baoming_2016.iloc[577,34] = df_luqu_2016.iloc[j,16] # 语文
            df_baoming_2016.iloc[577,35] = df_luqu_2016.iloc[j,17] # 数学
            df_baoming_2016.iloc[577,36] = df_luqu_2016.iloc[j,18] # 英语
            df_baoming_2016.iloc[577,37] = df_luqu_2016.iloc[j,19] # 文综
            df_baoming_2016.iloc[577,38] = df_luqu_2016.iloc[j,20] # 理综
            df_baoming_2016.iloc[577,39] = df_luqu_2016.iloc[j,21] # 附加分
            df_baoming_2016.iloc[577,40] = df_luqu_2016.iloc[j,22] # 总成绩
            df_baoming_2016.iloc[577,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
            df_baoming_2016.iloc[577,42] = df_luqu_2016.iloc[j,24] # 各省一本线
            df_baoming_2016.iloc[577,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
            df_baoming_2016.iloc[577,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
    else:
        if float(df_baoming_2016.iloc[577,21]) == df_luqu_2016.iloc[j,2]: # 高考报名号相同
            df_baoming_2016.iloc[577,30] = df_luqu_2016.iloc[j,12] # 原专业排名
            df_baoming_2016.iloc[577,31] = df_luqu_2016.iloc[j,13] # 现专业排名
            df_baoming_2016.iloc[577,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
            df_baoming_2016.iloc[577,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
            df_baoming_2016.iloc[577,34] = df_luqu_2016.iloc[j,16] # 语文
            df_baoming_2016.iloc[577,35] = df_luqu_2016.iloc[j,17] # 数学
            df_baoming_2016.iloc[577,36] = df_luqu_2016.iloc[j,18] # 英语
            df_baoming_2016.iloc[577,37] = df_luqu_2016.iloc[j,19] # 文综
            df_baoming_2016.iloc[577,38] = df_luqu_2016.iloc[j,20] # 理综
            df_baoming_2016.iloc[577,39] = df_luqu_2016.iloc[j,21] # 附加分
            df_baoming_2016.iloc[577,40] = df_luqu_2016.iloc[j,22] # 总成绩
            df_baoming_2016.iloc[577,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
            df_baoming_2016.iloc[577,42] = df_luqu_2016.iloc[j,24] # 各省一本线
            df_baoming_2016.iloc[577,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
            df_baoming_2016.iloc[577,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 0.028240s

In [51]:
print(df_baoming_2016.iloc[[577]])

     招生年度  报名类型 性别   院系      专业          专业方向  考点            准考证号 是否往报  \
577  2016  全国统招  女  文学系  戏剧影视文学  戏剧影视文学（创意策划）  北京  16110101010099    是

           出生日期  ...     数学     英语     文综   理综  附加分    总成绩 文化课总成绩比值（含附加分）  \
577  1998-01-19  ...  140.0  131.0  229.0  0.0  0.0  632.0       1.084048

     各省一本线 各省艺术类本科线  志愿顺序
577  583.0    346.0   1.0

[1 rows x 45 columns]

In [6]:
import time

In [56]:
time_start = time.time()
for i in range(len(df_baoming_2016)):
    for j in range(len(df_luqu_2016)):
        if df_luqu_2016.iloc[j,10] != 0: # 专业考试准考证号不为0
            if df_baoming_2016.iloc[i,7] == int(df_luqu_2016.iloc[j,10]): # 专业考试准考证号相同
                df_baoming_2016.iloc[i,30] = df_luqu_2016.iloc[j,12] # 原专业排名
                df_baoming_2016.iloc[i,31] = df_luqu_2016.iloc[j,13] # 现专业排名
                df_baoming_2016.iloc[i,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
                df_baoming_2016.iloc[i,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
                df_baoming_2016.iloc[i,34] = df_luqu_2016.iloc[j,16] # 语文
                df_baoming_2016.iloc[i,35] = df_luqu_2016.iloc[j,17] # 数学
                df_baoming_2016.iloc[i,36] = df_luqu_2016.iloc[j,18] # 英语
                df_baoming_2016.iloc[i,37] = df_luqu_2016.iloc[j,19] # 文综
                df_baoming_2016.iloc[i,38] = df_luqu_2016.iloc[j,20] # 理综
                df_baoming_2016.iloc[i,39] = df_luqu_2016.iloc[j,21] # 附加分
                df_baoming_2016.iloc[i,40] = df_luqu_2016.iloc[j,22] # 总成绩
                df_baoming_2016.iloc[i,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
                df_baoming_2016.iloc[i,42] = df_luqu_2016.iloc[j,24] # 各省一本线
                df_baoming_2016.iloc[i,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
                df_baoming_2016.iloc[i,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
        else:
            if float(df_baoming_2016.iloc[i,21]) == df_luqu_2016.iloc[j,2]: # 高考报名号相同
                df_baoming_2016.iloc[i,30] = df_luqu_2016.iloc[j,12] # 原专业排名
                df_baoming_2016.iloc[i,31] = df_luqu_2016.iloc[j,13] # 现专业排名
                df_baoming_2016.iloc[i,32] = df_luqu_2016.iloc[j,14] # 原专业省内排名
                df_baoming_2016.iloc[i,33] = df_luqu_2016.iloc[j,15] # 现专业省内排名
                df_baoming_2016.iloc[i,34] = df_luqu_2016.iloc[j,16] # 语文
                df_baoming_2016.iloc[i,35] = df_luqu_2016.iloc[j,17] # 数学
                df_baoming_2016.iloc[i,36] = df_luqu_2016.iloc[j,18] # 英语
                df_baoming_2016.iloc[i,37] = df_luqu_2016.iloc[j,19] # 文综
                df_baoming_2016.iloc[i,38] = df_luqu_2016.iloc[j,20] # 理综
                df_baoming_2016.iloc[i,39] = df_luqu_2016.iloc[j,21] # 附加分
                df_baoming_2016.iloc[i,40] = df_luqu_2016.iloc[j,22] # 总成绩
                df_baoming_2016.iloc[i,41] = df_luqu_2016.iloc[j,23] # 文化课总成绩比值
                df_baoming_2016.iloc[i,42] = df_luqu_2016.iloc[j,24] # 各省一本线
                df_baoming_2016.iloc[i,43] = df_luqu_2016.iloc[j,25] # 各省艺术类本科线
                df_baoming_2016.iloc[i,44] = df_luqu_2016.iloc[j,26] # 志愿顺序
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 346.284290s

In [57]:
df_baoming_2016.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2016录取_修改版.xls', index = False)

In [58]:
file11 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/报名信息汇总2017.xls"
df_baoming_2017 = pd.read_excel(file11)
file12 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/合格汇总信息2017.xls"
df_hege_2017 = pd.read_excel(file12)
file13 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/录取汇总信息2017.xls"
df_luqu_2017 = pd.read_excel(file13)

In [8]:
time_start = time.time()
for i in range(len(df_baoming_2017)):
    for j in range(len(df_hege_2017)):
        if df_baoming_2017.iloc[i,7] == df_hege_2017.iloc[j,9]: # 专业考试准考证号相同
            df_baoming_2017.iloc[i,19] = df_hege_2017.iloc[j,5] # 毕业中学所在省
            df_baoming_2017.iloc[i,20] = df_hege_2017.iloc[j,6] # 毕业中学类别
            df_baoming_2017.iloc[i,26] = df_hege_2017.iloc[j,19] # 户籍所在市
            df_baoming_2017.iloc[i,27] = df_hege_2017.iloc[j,20] # 户籍所在县
            df_baoming_2017.iloc[i,28] = df_hege_2017.iloc[j,7] # 专业成绩
            df_baoming_2017.iloc[i,29] = df_hege_2017.iloc[j,27] # 考试科目
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 2289.341644s

In [10]:
df_baoming_2017.dtypes

招生年度                                                       int64
报名类型                                                      object
性别                                                        object
院系                                                        object
专业                                                        object
专业方向                                                      object
考点                                                        object
准考证号                                                       int64
是否往报                                                      object
出生日期                                                      object
政治面貌名称                                                    object
民族名称                                                      object
考生类别名称                                                    object
考生性质名称                                                    object
高考类别                                                       int64
高考类别名称                                                    object
文化程度名称                                                    object
身高                                                         int64
毕业中学名称                                                    object
毕业中学所在省                                                   object
毕业中学类别                                                    object
高考报名号                                                     object
高考所在省                                                     object
高考所在市                                                     object
高考所在县                                                     object
户口所在地                                                     object
户籍所在市                                                     object
户籍所在县                                                     object
专业成绩                                                     float64
考试科目                                                      object
原专业排名（在所有已经发放合格证考生范围内的专业排名）                              float64
现专业排名（在所有已经录取考生范围内的专业排名）                                 float64
原专业省内排名（高职学院的戏剧影视表演专业需要显示省内排名，在所有已经发放合格证考生范围内的专业省内排名）    float64
现专业省内排名（高职学院的戏剧影视表演专业需要显示省内排名，在所有已经录取考生范围内的专业省内排名）       float64
语文                                                       float64
数学                                                       float64
英语                                                       float64
文综                                                       float64
理综                                                       float64
附加分                                                      float64
总成绩                                                      float64
文化课总成绩比值（含附加分）                                           float64
各省一本线                                                    float64
各省艺术类本科线                                                 float64
志愿顺序                                                     float64
dtype: object

In [11]:
df_luqu_2017.dtypes

招生年度                                                       int64
招生类型                                                      object
高考考生号                                                    float64
性别                                                        object
出生日期                                                      object
高考类别                                                      object
高考所在省                                                     object
院系名称                                                      object
专业名称                                                      object
专业名称（招考方向）                                                object
专业考试准考证号                                                  object
专业成绩                                                      object
原专业排名（在所有已经发放合格证考生范围内的专业排名）                              float64
现专业排名（在所有已经录取考生范围内的专业排名）                                  object
原专业省内排名（高职学院的戏剧影视表演专业需要显示省内排名，在所有已经发放合格证考生范围内的专业省内排名）    float64
现专业省内排名（高职学院的戏剧影视表演专业需要显示省内排名，在所有已经录取考生范围内的专业省内排名）       float64
语文                                                       float64
数学                                                       float64
英语                                                       float64
文综                                                       float64
理综                                                       float64
附加分                                                      float64
总成绩                                                      float64
文化课总成绩比值（含附加分）                                           float64
各省一本线                                                    float64
各省艺术类本科线                                                 float64
志愿顺序                                                      object
政治面貌                                                      object
民族                                                        object
考生性质                                                      object
考生类别                                                      object
文化程度                                                      object
户口所在省                                                     object
毕业中学名称                                                    object
毕业中学类别                                                    object
毕业中学所在省                                                   object
dtype: object

In [61]:
time_start = time.time()
for i in range(len(df_baoming_2017)):
    for j in range(len(df_luqu_2017)):
        if df_luqu_2017.iloc[j,10] != 0: # 专业考试准考证号不为0
            if df_baoming_2017.iloc[i,7] == int(df_luqu_2017.iloc[j,10]): # 专业考试准考证号相同
                df_baoming_2017.iloc[i,30] = df_luqu_2017.iloc[j,12] # 原专业排名
                df_baoming_2017.iloc[i,31] = df_luqu_2017.iloc[j,13] # 现专业排名
                df_baoming_2017.iloc[i,32] = df_luqu_2017.iloc[j,14] # 原专业省内排名
                df_baoming_2017.iloc[i,33] = df_luqu_2017.iloc[j,15] # 现专业省内排名
                df_baoming_2017.iloc[i,34] = df_luqu_2017.iloc[j,16] # 语文
                df_baoming_2017.iloc[i,35] = df_luqu_2017.iloc[j,17] # 数学
                df_baoming_2017.iloc[i,36] = df_luqu_2017.iloc[j,18] # 英语
                df_baoming_2017.iloc[i,37] = df_luqu_2017.iloc[j,19] # 文综
                df_baoming_2017.iloc[i,38] = df_luqu_2017.iloc[j,20] # 理综
                df_baoming_2017.iloc[i,39] = df_luqu_2017.iloc[j,21] # 附加分
                df_baoming_2017.iloc[i,40] = df_luqu_2017.iloc[j,22] # 总成绩
                df_baoming_2017.iloc[i,41] = df_luqu_2017.iloc[j,23] # 文化课总成绩比值
                df_baoming_2017.iloc[i,42] = df_luqu_2017.iloc[j,24] # 各省一本线
                df_baoming_2017.iloc[i,43] = df_luqu_2017.iloc[j,25] # 各省艺术类本科线
                df_baoming_2017.iloc[i,44] = df_luqu_2017.iloc[j,26] # 志愿顺序
        else:
            if float(df_baoming_2017.iloc[i,21]) == df_luqu_2017.iloc[j,2]: # 高考报名号相同
                df_baoming_2017.iloc[i,30] = df_luqu_2017.iloc[j,12] # 原专业排名
                df_baoming_2017.iloc[i,31] = df_luqu_2017.iloc[j,13] # 现专业排名
                df_baoming_2017.iloc[i,32] = df_luqu_2017.iloc[j,14] # 原专业省内排名
                df_baoming_2017.iloc[i,33] = df_luqu_2017.iloc[j,15] # 现专业省内排名
                df_baoming_2017.iloc[i,34] = df_luqu_2017.iloc[j,16] # 语文
                df_baoming_2017.iloc[i,35] = df_luqu_2017.iloc[j,17] # 数学
                df_baoming_2017.iloc[i,36] = df_luqu_2017.iloc[j,18] # 英语
                df_baoming_2017.iloc[i,37] = df_luqu_2017.iloc[j,19] # 文综
                df_baoming_2017.iloc[i,38] = df_luqu_2017.iloc[j,20] # 理综
                df_baoming_2017.iloc[i,39] = df_luqu_2017.iloc[j,21] # 附加分
                df_baoming_2017.iloc[i,40] = df_luqu_2017.iloc[j,22] # 总成绩
                df_baoming_2017.iloc[i,41] = df_luqu_2017.iloc[j,23] # 文化课总成绩比值
                df_baoming_2017.iloc[i,42] = df_luqu_2017.iloc[j,24] # 各省一本线
                df_baoming_2017.iloc[i,43] = df_luqu_2017.iloc[j,25] # 各省艺术类本科线
                df_baoming_2017.iloc[i,44] = df_luqu_2017.iloc[j,26] # 志愿顺序
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 459.587638s

In [62]:
df_baoming_2017.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2017录取_修改版.xls', index = False)

In [63]:
file14 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/报名信息汇总2018.xls"
df_baoming_2018 = pd.read_excel(file14)
file15 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/合格汇总信息2018.xls"
df_hege_2018 = pd.read_excel(file15)
file16 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/录取汇总信息2018.xls"
df_luqu_2018 = pd.read_excel(file16)

In [ ]:
time_start = time.time()
for i in range(len(df_baoming_2018)):
    for j in range(len(df_hege_2018)):
        if df_baoming_2018.iloc[i,7] == df_hege_2018.iloc[j,9]: # 专业考试准考证号相同
            df_baoming_2018.iloc[i,19] = df_hege_2018.iloc[j,5] # 毕业中学所在省
            df_baoming_2018.iloc[i,20] = df_hege_2018.iloc[j,6] # 毕业中学类别
            df_baoming_2018.iloc[i,26] = df_hege_2018.iloc[j,19] # 户籍所在市
            df_baoming_2018.iloc[i,27] = df_hege_2018.iloc[j,20] # 户籍所在县
            df_baoming_2018.iloc[i,28] = df_hege_2018.iloc[j,7] # 专业成绩
            df_baoming_2018.iloc[i,29] = df_hege_2018.iloc[j,27] # 考试科目

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

In [64]:
time_start = time.time()
for i in range(len(df_baoming_2018)):
    for j in range(len(df_luqu_2018)):
        if df_luqu_2018.iloc[j,10] != 0: # 专业考试准考证号不为0
            if df_baoming_2018.iloc[i,7] == int(df_luqu_2018.iloc[j,10]): # 专业考试准考证号相同
                df_baoming_2018.iloc[i,30] = df_luqu_2018.iloc[j,12] # 原专业排名
                df_baoming_2018.iloc[i,31] = df_luqu_2018.iloc[j,13] # 现专业排名
                df_baoming_2018.iloc[i,32] = df_luqu_2018.iloc[j,14] # 原专业省内排名
                df_baoming_2018.iloc[i,33] = df_luqu_2018.iloc[j,15] # 现专业省内排名
                df_baoming_2018.iloc[i,34] = df_luqu_2018.iloc[j,16] # 语文
                df_baoming_2018.iloc[i,35] = df_luqu_2018.iloc[j,17] # 数学
                df_baoming_2018.iloc[i,36] = df_luqu_2018.iloc[j,18] # 英语
                df_baoming_2018.iloc[i,37] = df_luqu_2018.iloc[j,19] # 文综
                df_baoming_2018.iloc[i,38] = df_luqu_2018.iloc[j,20] # 理综
                df_baoming_2018.iloc[i,39] = df_luqu_2018.iloc[j,21] # 附加分
                df_baoming_2018.iloc[i,40] = df_luqu_2018.iloc[j,22] # 总成绩
                df_baoming_2018.iloc[i,41] = df_luqu_2018.iloc[j,23] # 文化课总成绩比值
                df_baoming_2018.iloc[i,42] = df_luqu_2018.iloc[j,24] # 各省一本线
                df_baoming_2018.iloc[i,43] = df_luqu_2018.iloc[j,25] # 各省艺术类本科线
                df_baoming_2018.iloc[i,44] = df_luqu_2018.iloc[j,26] # 志愿顺序
        else:
            if float(df_baoming_2018.iloc[i,21]) == df_luqu_2018.iloc[j,2]: # 高考报名号相同
                df_baoming_2018.iloc[i,30] = df_luqu_2018.iloc[j,12] # 原专业排名
                df_baoming_2018.iloc[i,31] = df_luqu_2018.iloc[j,13] # 现专业排名
                df_baoming_2018.iloc[i,32] = df_luqu_2018.iloc[j,14] # 原专业省内排名
                df_baoming_2018.iloc[i,33] = df_luqu_2018.iloc[j,15] # 现专业省内排名
                df_baoming_2018.iloc[i,34] = df_luqu_2018.iloc[j,16] # 语文
                df_baoming_2018.iloc[i,35] = df_luqu_2018.iloc[j,17] # 数学
                df_baoming_2018.iloc[i,36] = df_luqu_2018.iloc[j,18] # 英语
                df_baoming_2018.iloc[i,37] = df_luqu_2018.iloc[j,19] # 文综
                df_baoming_2018.iloc[i,38] = df_luqu_2018.iloc[j,20] # 理综
                df_baoming_2018.iloc[i,39] = df_luqu_2018.iloc[j,21] # 附加分
                df_baoming_2018.iloc[i,40] = df_luqu_2018.iloc[j,22] # 总成绩
                df_baoming_2018.iloc[i,41] = df_luqu_2018.iloc[j,23] # 文化课总成绩比值
                df_baoming_2018.iloc[i,42] = df_luqu_2018.iloc[j,24] # 各省一本线
                df_baoming_2018.iloc[i,43] = df_luqu_2018.iloc[j,25] # 各省艺术类本科线
                df_baoming_2018.iloc[i,44] = df_luqu_2018.iloc[j,26] # 志愿顺序
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 646.794035s

In [65]:
df_baoming_2018.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/招生宣传分析用数据（分离）/录取数据/2018录取_修改版.xls', index = False)

In [ ]:
df_baoming_2018['专业成绩']

In [ ]:
df_baoming_2018['专业成绩'].count()

In [ ]:
df_baoming_2018['专业成绩'].value_counts()

In [73]:
file17 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/综合信息汇总（填充数据后）.xls"
combine = pd.read_excel(file17)

In [68]:
file18 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/中学名称、所在省及学校类别.xlsx"
middle_school = pd.read_excel(file18)

In [74]:
combine.shape

(113681, 45)

In [99]:
combine.iloc[5,19]

0

In [87]:
combine['毕业中学所在省'].fillna(0, inplace=True)

In [98]:
combine['毕业中学类别'].fillna(0, inplace=True)

In [100]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(middle_school)):
        if combine.iloc[j,19] == 0: # 毕业中学所在省份为0
            if combine.iloc[i,18] == middle_school.iloc[j,0]: # 毕业学校名称相同
                combine.iloc[i,19] = middle_school.iloc[j,1] # 毕业学校所在省份
                combine.iloc[i,20] = middle_school.iloc[j,2] # 毕业学校类型
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 20778.316627s

In [101]:
combine['毕业中学所在省']

0         北京市
1         北京市
2           0
3           0
4           0
         ...
113676      0
113677      0
113678      0
113679      0
113680      0
Name: 毕业中学所在省, Length: 113681, dtype: object

In [105]:
combine.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/中学修改版.xlsx', index = False)

In [104]:
import openpyxl

In [127]:
file19 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/汇总版/合格汇总信息.xls"
hege_total = pd.read_excel(file19)

In [110]:
hege_total.columns

Index(['招生年度', '报名类型', '考生号', '性别', '毕业中学名称', '毕业中学所在省', '毕业中学类别', '专业成绩',
       '专业名次', '准考证号', '分省排名', '高考所在省', '高考所在市', '高考所在县', '院系名称', '专业名称',
       '专业方向名称', '出生日期', '户籍所在省', '户籍所在市', '户籍所在县', '高考类别', '考生类别', '政治面貌',
       '民族', '考生性质', '文化程度', '考试科目'],
      dtype='object')

In [136]:
hege_total['分省排名'] = hege_total.groupby(['招生年度','专业方向名称','高考所在省'])['专业成绩'].rank(ascending=False,method='dense')

In [134]:
hege_total['专业名次'] = hege_total.groupby(['招生年度','专业方向名称'])['专业成绩'].rank(ascending=False,method='dense')

In [135]:
hege_total['专业名次']

0        1.0
1        2.0
2        3.0
3        4.0
4        5.0
        ...
3935    31.0
3936    32.0
3937    32.0
3938    33.0
3939    33.0
Name: 专业名次, Length: 3940, dtype: float64

In [137]:
hege_total['分省排名']

0       1.0
1       2.0
2       1.0
3       3.0
4       1.0
       ...
3935    4.0
3936    4.0
3937    6.0
3938    2.0
3939    6.0
Name: 分省排名, Length: 3940, dtype: float64

In [138]:
hege_total.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/合格修改版.xlsx', index = False)

In [142]:
file20 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/分年汇总/汇总版/合格汇总信息.xls"
hege_total = pd.read_excel(file20)

In [141]:
file21 = "/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/无合格排名的数据.xlsx"
no_rank = pd.read_excel(file21)

In [143]:
hege_total.head

<bound method NDFrame.head of       招生年度  报名类型             考生号 性别          毕业中学名称 毕业中学所在省 毕业中学类别   专业成绩  \
0     2016  全国统招  16110102112985  女      北京师范大学附属中学     北京市   示范高中  90.41
1     2016  全国统招  16110108113215  女  北京舞蹈学院附属中等舞蹈学校     北京市   附属中学  76.89
2     2016  全国统招  16339916183075  女         宁波市外事学校     浙江省   职业高中  75.62
3     2016  全国统招  16110108113044  男  北京舞蹈学院附属中等舞蹈学校     北京市   附属中学  73.67
4     2016  全国统招  16420281170096  男         大冶市大冶一中     湖北省   普通高中  73.59
...    ...   ...             ... ..             ...     ...    ...    ...
3935  2018  全国统招  18500105131812  女       重庆市育才成功学校     重庆市   普通高中  71.60
3936  2018  全国统招  18339303130135  女            东沙中学     浙江省   普通高中  71.30
3937  2018  全国统招  18510101170047  女        成都市盐道街中学     四川省   示范高中  71.30
3938  2018  全国统招       304590080  女         红岭中学高中部     广东省   示范高中  71.00
3939  2018  全国统招  18411419159089  女         河南省淮阳中学     河南省   普通高中  71.00

      专业名次             准考证号  ...  户籍所在省 户籍所在市 户籍所在县  高考类别  考生类别         政治面貌  \
0        1   16110103040570  ...    北京市   市辖区   丰台区    文科  城市应届  中国共产主义青年团团员
1        2   16110103042798  ...    北京市   市辖区   海淀区    文科  城市应届  中国共产主义青年团团员
2        3   16110103042242  ...    浙江省   宁波市   鄞州区    文科  城市应届    中国共产党预备党员
3        4   16110103045420  ...    北京市   市辖区   海淀区    文科  城市应届  中国共产主义青年团团员
4        5   16110103042559  ...    湖北省   黄石市   大冶市    理科  城市往届  中国共产主义青年团团员
...    ...              ...  ...    ...   ...   ...   ...   ...          ...
3935    31  181101142300626  ...    重庆市   市辖区   渝北区    文科  城市应届  中国共产主义青年团团员
3936    32  181102142300026  ...    浙江省   舟山市   岱山县  不分文理  城市应届  中国共产主义青年团团员
3937    32  181104142300080  ...    四川省   成都市   青羊区    理科  城市应届  中国共产主义青年团团员
3938    33  181101142300029  ...    江西省   上饶市   信州区    理科  城市应届  中国共产主义青年团团员
3939    33  181101142300723  ...    河南省   周口市   淮阳县    理科  城市应届  中国共产主义青年团团员

        民族 考生性质 文化程度                    考试科目
0       满族   学生   高中  朗诵；朗诵与才艺展示；声乐、形体、台词与表演
1       汉族   学生   中专  朗诵；朗诵与才艺展示；声乐、形体、台词与表演
2     达斡尔族   学生   高中  朗诵；朗诵与才艺展示；声乐、形体、台词与表演
3       汉族   学生   高中  朗诵；朗诵与才艺展示；声乐、形体、台词与表演
4       汉族   学生   高中  朗诵；朗诵与才艺展示；声乐、形体、台词与表演
...    ...  ...  ...                     ...
3935    汉族   学生   高中                 初试:命题创作
3936    汉族   学生   高中                 初试:命题创作
3937    汉族   学生   高中                 初试:命题创作
3938    汉族   学生   高中                 初试:命题创作
3939    汉族   学生   高中                 初试:命题创作

[3940 rows x 28 columns]>

In [144]:
no_rank.head

<bound method NDFrame.head of       招生年度  报名类型 性别      院系       专业             专业方向  考点             准考证号  \
0     2016  全国统招  男   影视技术系  影视摄影与制作  影视摄影与制作（数字电影技术）  北京   16110111220088
1     2016  全国统招  男     文学系   戏剧影视文学       戏剧影视文学（剧作）  北京   16110101020025
2     2016  全国统招  男   影视技术系  影视摄影与制作  影视摄影与制作（数字电影技术）  北京   16110111220517
3     2016  全国统招  女    动画学院       动画               动画  杭州   16110209190064
4     2016  全国统招  女    动画学院       动画               动画  北京   16110109190080
...    ...   ... ..     ...      ...              ...  ..              ...
3935  2018  全国统招  女    动画学院       漫画               漫画  北京  181101091700776
3936  2018  全国统招  女    管理学院      电影学       电影学（制片与市场）  北京  181101071400926
3937  2018  全国统招  女    摄影学院       摄影               摄影  北京  181101081501013
3938  2018  全国统招  女    表演学院       表演               表演  北京  181101030403221
3939  2018  全国统招  男  视听传媒学院   广播电视编导           广播电视编导  北京  181101132200754

     是否往报        出生日期  ...     数学     英语     文综     理综  附加分    总成绩  \
0       是  1998-03-18  ...    NaN    NaN    NaN    NaN  NaN    NaN
1       是  1997-02-14  ...   68.0   80.0  213.0    NaN  0.0  457.0
2       是  1997-05-11  ...    NaN    NaN    NaN    NaN  NaN    NaN
3       是  1998-03-21  ...   46.0  112.0  176.0    NaN  0.0  429.0
4       是  1997-10-10  ...    NaN    NaN    NaN    NaN  NaN    NaN
...   ...         ...  ...    ...    ...    ...    ...  ...    ...
3935    是  1999-11-13  ...    NaN    NaN    NaN    NaN  NaN    NaN
3936    是  1999-11-14  ...  137.0  128.0  231.0    NaN  0.0  608.0
3937    是  1999-02-04  ...  106.0  109.0    NaN  139.0  0.0  461.0
3938    是  1999-03-19  ...    NaN    NaN    NaN    NaN  NaN    NaN
3939    是  2000-10-13  ...    NaN    NaN    NaN    NaN  NaN    NaN

     文化课总成绩比值（含附加分）  各省一本线 各省艺术类本科线 志愿顺序
0               NaN    NaN      NaN  NaN
1          0.877159  521.0    338.0    1
2               NaN    NaN      NaN  NaN
3          0.834630  514.0    280.0    1
4               NaN    NaN      NaN  NaN
...             ...    ...      ...  ...
3935            NaN    NaN      NaN  NaN
3936       1.055556  576.0    340.0    1
3937       0.891683  517.0    239.0    1
3938            NaN    NaN      NaN  NaN
3939            NaN    NaN      NaN  NaN

[3940 rows x 45 columns]>

In [145]:
time_start = time.time()
for i in range(len(no_rank)):
    for j in range(len(hege_total)):
        if hege_total.iloc[j,0] == no_rank.iloc[i,0] and hege_total.iloc[j,9] == no_rank.iloc[i,7] and hege_total.iloc[j,16] == no_rank.iloc[i,5]: # 年份、准考号、报考方向一致
            no_rank.iloc[i,30] = hege_total.iloc[j,8] # 原专业排名
            no_rank.iloc[i,32] = hege_total.iloc[j,10] # 原专业省内排名
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 334.486022s

In [146]:
no_rank.to_excel(r'/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/最终数据修改版.xlsx', index = False)

In [4]:
file22 = "/home/centos/Documents/admission_analysis/无中学类别的数据.xlsx"
combine = pd.read_excel(file22)

In [5]:
combine.head()

,1,招生年度,性别,院系,专业,专业方向,考点,准考证号,是否往报,出生日期,...,数学,英语,文综,理综,附加分,总成绩,文化课总成绩比值（含附加分）,各省一本线,各省艺术类本科线,志愿顺序
0,4,2016,男,动画学院,动画,动画,北京,1.611011e+13,是,1998-07-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5,2016,男,动画学院,戏剧影视文学,戏剧影视文学（动漫策划）,北京,1.611011e+13,是,1994-05-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,2016,男,管理学院,电影学,电影学（制片与市场）,北京,1.611011e+13,是,1994-05-16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,2016,女,表演学院,表演,表演,杭州,1.611020e+13,是,1997-11-14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12,2016,男,美术学院,戏剧影视美术设计,戏剧影视美术设计（人物造型）,北京,1.611011e+13,是,1997-10-06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
file23 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
shannxi_ms = pd.read_excel(file23,sheet_name = 'Sheet3')

In [7]:
shannxi_ms.head()

        学校名称
0    陕西省西安中学
1  西安市第八十三中学
2     西安高级中学
3    西安市育才中学
4  西安市第八十九中学

In [8]:
ls = list(shannxi_ms['学校名称'])

In [9]:
ls[0]

'陕西省西安中学'

In [10]:
# -*- coding: utf-8 -*-

In [12]:
ls1 = list(combine['毕业中学名称'])

In [15]:
len(ls1)

86547

In [16]:
shannxi_ms.iloc[0,0]

'陕西省西安中学'

In [17]:
combine.iloc[0,18]

'哈市八中'

In [18]:
combine.iloc[0,20]

0

In [21]:
import time

In [49]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(shannxi_ms)):
        if shannxi_ms.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "陕西省"
            #combine.iloc[i,20] = "示范高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 415.431082s

In [28]:
combine['毕业中学类别'].value_counts()

0       86185
示范高中      362
Name: 毕业中学类别, dtype: int64

In [29]:
file24 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
beijing_ms = pd.read_excel(file24,sheet_name = '北京市')

In [48]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(beijing_ms)):
        if beijing_ms.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "北京市"
            #combine.iloc[i,20] = "示范高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 302.359559s

In [32]:
file25 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
tj_zz = pd.read_excel(file25,sheet_name = '天津中职')

In [47]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(tj_zz)):
        if tj_zz.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "天津市"
            #combine.iloc[i,20] = "中职学校" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 307.964877s

In [34]:
combine['毕业中学类别'].value_counts()

0       85810
示范高中      711
中职学校       26
Name: 毕业中学类别, dtype: int64

In [36]:
file26 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
tj_sf = pd.read_excel(file26,sheet_name = '天津示范')

In [46]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(tj_sf)):
        if tj_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "天津市"
            #combine.iloc[i,20] = "示范高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 118.616512s

In [38]:
combine['毕业中学类别'].value_counts()

0       85670
示范高中      851
中职学校       26
Name: 毕业中学类别, dtype: int64

In [39]:
file27 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
sh_sf = pd.read_excel(file27,sheet_name = '上海示范')

In [45]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(sh_sf)):
        if sh_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "上海市"
            #combine.iloc[i,20] = "示范高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 277.103615s

In [41]:
combine['毕业中学类别'].value_counts()

0       85662
示范高中      859
中职学校       26
Name: 毕业中学类别, dtype: int64

In [42]:
file28 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
snx_pg = pd.read_excel(file28,sheet_name = '陕西普高')

In [43]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(snx_pg)):
        if snx_pg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "陕西省"
            combine.iloc[i,20] = "普通高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1234.874190s

In [44]:
combine['毕业中学类别'].value_counts()

0       85203
示范高中      859
普通高中      459
中职学校       26
Name: 毕业中学类别, dtype: int64

In [57]:
file29 = "/home/centos/Documents/admission_analysis/陕西省职业高中名单.xlsx"
snx_zg = pd.read_excel(file29,sheet_name = '职高')

In [58]:
snx_zg

                         学校名称
0                西安综合职业中等专业学校
1                 西安市导游礼仪职业学校
2                  西安东方艺术职业学校
3                  西安城市科技职业学校
4                西安实验职业中等专业学校
..                        ...
159                  杨凌中等职业学校
160               韩城市职业中等专业学校
161               神木市职业技术教育中心
162             陕西省府谷职业中等专业学校
163        陕西国际商贸学院附属中等职业技术学校

[164 rows x 1 columns]

In [59]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(snx_zg)):
        if snx_zg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "陕西省"
            combine.iloc[i,20] = "职业高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 681.248810s

In [60]:
combine['毕业中学类别'].value_counts()

0       85203
示范高中      859
普通高中      459
中职学校       26
Name: 毕业中学类别, dtype: int64

In [61]:
file30 = "/home/centos/Documents/admission_analysis/陕西省职业高中名单.xlsx"
snx_zz = pd.read_excel(file30,sheet_name = '中专')

In [62]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(snx_zz)):
        if snx_zz.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "陕西省"
            combine.iloc[i,20] = "中职学校" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 108.701329s

In [63]:
combine['毕业中学类别'].value_counts()

0       85203
示范高中      859
普通高中      459
中职学校       26
Name: 毕业中学类别, dtype: int64

In [55]:
combine['毕业中学类别'].value_counts()

0       85203
示范高中      859
普通高中      459
中职学校       26
Name: 毕业中学类别, dtype: int64

In [66]:
file31 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
tj_pg = pd.read_excel(file31,sheet_name = '天津普高')

In [67]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(tj_pg)):
        if tj_pg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "天津市"
            combine.iloc[i,20] = "普通高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 668.199563s

In [68]:
combine['毕业中学类别'].value_counts()

0       84862
示范高中      859
普通高中      800
中职学校       26
Name: 毕业中学类别, dtype: int64

In [69]:
file32 = "/home/centos/Documents/admission_analysis/毕业中学类别.xlsx"
bj_pg = pd.read_excel(file32,sheet_name = '北京普高')

In [70]:
bj_pg

               学校名称
0           北京市第一中学
1         北京市第二十一中学
2         北京市第二十二中学
3         北京市第二十四中学
4         北京市第二十五中学
..              ...
189      北京市平谷区育才中学
190      北京市延庆区第二中学
191  北京市延庆区第三中学
192      北京市延庆区第五中学
193     北京市密云区新农村中学

[194 rows x 1 columns]

In [72]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(bj_pg)):
        if combine.iloc[i,20] == 0 and bj_pg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "北京市"
            combine.iloc[i,20] = "普通高中" # 中学类别
                
time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1029.124033s

In [73]:
combine['毕业中学类别'].value_counts()

0       83822
普通高中     1840
示范高中      859
中职学校       26
Name: 毕业中学类别, dtype: int64

In [75]:
file33 = "/home/centos/Documents/admission_analysis/北京中学类别名单.xlsx"
bj_zz = pd.read_excel(file33,sheet_name = '中专')
bj_zg = pd.read_excel(file33,sheet_name = '职高')

In [76]:
bj_zz

                学校名称
0           北京水利水电学校
1      北京交通运输职业学院中专部
2         北京市自动化工程学校
3          北京市经济管理学校
4            北京市园林学校
5           北京金隅科技学校
6          北京市对外贸易学校
7            北京市商业学校
8             北京商贸学校
9            北京市供销学校
10         北京市振华旅游学校
11         北京铁路电气化学校
12      首都医科大学附属卫生学校
13        北京市海淀区卫生学校
14         北京市昌平卫生学校
15       北京体育职业学院中专部
16      北京市什刹海体育运动学校
17       北京市第三体育运动学校
18    首都体育学院附属竞技体育学校
19         北京市国际艺术学校
20    中国戏曲学院附属中等戏曲学校
21    北京舞蹈学院附属中等舞蹈学校
22  中国音乐学院附属中等音乐专科学校
23     北京戏曲艺术职业学院中专部
24         北京市爱莲舞蹈学校
25    中央音乐学院附属中等音乐学校
26    中央美术学院附属中等美术学校
27    北京体育大学附属竞技体育学校

In [77]:
bj_zg

                      学校名称
0                北京市第一七九中学
1               北京现代职业教育学校
2               北京国际职业教育学校
3                北京市国际美术学校
4             北京市东城区古城职业高中
5             北京市东城区特殊教育学校
6       北京市东城区中央音乐学院鼎石实验学校
7              北京市育人中等职业学校
8                北京市实美职业学校
9                  北京市外事学校
10                 北京市财会学校
11               北京市实验职业学校
12                北京启喑实验学校
13               北京市求实职业学校
14               北京市劲松职业高中
15               北京市电气工程学校
16            北京市朝阳区职业技术学校
17  北京市信息管理学校
18                 北京市盲人学校
19               北京市海淀寄读学校
20                 北京市健翔学校
21          北京市丰台区职业教育中心学校
22             北京新桥外国语高中学校
23               北京市八一艺术学校
24             北京市文化艺术职业学校
25               北京市黄庄职业高中
26             北京市古城旅游职业学校
27           北京市门头沟区中等职业学校
28            北京市房山区第二职业高中
29            北京市房山区房山职业学校
30               北京市燕山职业学校
31               北京市昌平职业学校
32                北京少林武术学校
33            北京市大兴区第一职业学校
34            北京市大兴区第二职业学校
35                北京现代艺术学校
36                北京新城职业学校
37               北京市现代音乐学校
38           北京市顺义区新大方职业学校
39               北京市音乐舞蹈学校
40              北京市怀柔区职业学校
41                北京百汇演艺学校
42              北京市平谷区职业学校
43            北京市延庆区第一职业学校
44              北京市密云区职业学校

In [78]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(bj_zz)):
        if combine.iloc[i,20] == 0 and bj_zz.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "北京市"
            combine.iloc[i,20] = "中职学校" # 中学类别
                
for i in range(len(combine)):
    for j in range(len(bj_zg)):
        if combine.iloc[i,20] == 0 and bj_zg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "北京市"
            combine.iloc[i,20] = "职业高中" # 中学类别           

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 445.640621s

In [79]:
combine['毕业中学类别'].value_counts()

0       83584
普通高中     1840
示范高中      859
职业高中      212
中职学校       52
Name: 毕业中学类别, dtype: int64

In [80]:
file34 = "/home/centos/Documents/admission_analysis/上海中学类别名单.xlsx"
sh_pt = pd.read_excel(file34,sheet_name = '普通')
sh_zz = pd.read_excel(file34,sheet_name = '中专')
sh_zg = pd.read_excel(file34,sheet_name = '高职')
sh_jx = pd.read_excel(file34,sheet_name = '技校')

In [81]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(sh_pt)):
        if combine.iloc[i,20] == 0 and sh_pt.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "上海市"
            combine.iloc[i,20] = "普通高中" # 中学类别
                
for i in range(len(combine)):
    for j in range(len(sh_zz)):
        if combine.iloc[i,20] == 0 and sh_zz.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "上海市"
            combine.iloc[i,20] = "中职学校" # 中学类别      
            
for i in range(len(combine)):
    for j in range(len(sh_zg)):
        if combine.iloc[i,20] == 0 and sh_zg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "上海市"
            combine.iloc[i,20] = "职业高中" # 中学类别  
            
for i in range(len(combine)):
    for j in range(len(sh_jx)):
        if combine.iloc[i,20] == 0 and sh_jx.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "上海市"
            combine.iloc[i,20] = "技工学校" # 中学类别  

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1021.272643s

In [82]:
combine['毕业中学类别'].value_counts()

0       83514
普通高中     1899
示范高中      859
职业高中      218
中职学校       56
技工学校        1
Name: 毕业中学类别, dtype: int64

In [83]:
combine['毕业中学所在省'].value_counts()

0       83505
北京市      1627
陕西省       821
天津市       507
上海市        78
辽宁省         3
河南省         3
山东省         1
安徽省         1
黑龙江省        1
Name: 毕业中学所在省, dtype: int64

In [84]:
file35 = "/home/centos/Documents/admission_analysis/重庆中学类别名单.xlsx"
cq_zz = pd.read_excel(file35,sheet_name = '中专')
cq_zg = pd.read_excel(file35,sheet_name = '职高')
cq_jx = pd.read_excel(file35,sheet_name = '技校')

In [85]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(cq_zz)):
        if combine.iloc[i,20] == 0 and cq_zz.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "重庆市"
            combine.iloc[i,20] = "中职学校" # 中学类别      
            
for i in range(len(combine)):
    for j in range(len(cq_zg)):
        if combine.iloc[i,20] == 0 and cq_zg.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "重庆市"
            combine.iloc[i,20] = "职业高中" # 中学类别  
            
for i in range(len(combine)):
    for j in range(len(cq_jx)):
        if combine.iloc[i,20] == 0 and cq_jx.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "重庆市"
            combine.iloc[i,20] = "技工学校" # 中学类别  

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 816.884565s

In [86]:
combine['毕业中学类别'].value_counts()

0       83482
普通高中     1899
示范高中      859
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [87]:
combine['毕业中学所在省'].value_counts()

0       83473
北京市      1627
陕西省       821
天津市       507
上海市        78
重庆市        32
辽宁省         3
河南省         3
山东省         1
安徽省         1
黑龙江省        1
Name: 毕业中学所在省, dtype: int64

In [88]:
file36 = "/home/centos/Documents/admission_analysis/重庆中学类别名单.xlsx"
cq_sf = pd.read_excel(file36,sheet_name = '示范')
cq_pt = pd.read_excel(file36,sheet_name = '普通')

In [89]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(cq_sf)):
        if combine.iloc[i,20] == 0 and cq_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "重庆市"
            combine.iloc[i,20] = "示范高中" # 中学类别      
            
for i in range(len(combine)):
    for j in range(len(cq_pt)):
        if combine.iloc[i,20] == 0 and cq_pt.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "重庆市"
            combine.iloc[i,20] = "普通高中" # 中学类别  

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 866.715678s

In [90]:
combine['毕业中学类别'].value_counts()

0       83181
普通高中     1912
示范高中     1147
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [91]:
combine['毕业中学所在省'].value_counts()

0       83172
北京市      1627
陕西省       821
天津市       507
重庆市       333
上海市        78
辽宁省         3
河南省         3
山东省         1
安徽省         1
黑龙江省        1
Name: 毕业中学所在省, dtype: int64

In [92]:
combine.to_excel(r'/home/centos/Documents/admission_analysis/最终数据修改版.xlsx', index = False)

In [95]:
file37 = "/home/centos/Documents/admission_analysis/各省示范高中名单（维基百科版）.xlsx"
hebei_sf = pd.read_excel(file37,sheet_name = '河北省')

In [97]:
time_start = time.time()
for i in range(len(combine)):
    for j in range(len(hebei_sf)):
        if combine.iloc[i,20] == 0 and hebei_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "河北省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1078.188770s

In [98]:
combine['毕业中学类别'].value_counts()

0       82022
示范高中     2306
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [99]:
shanxi_sf = pd.read_excel(file37,sheet_name = '山西省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(shanxi_sf)):
        if combine.iloc[i,20] == 0 and shanxi_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "山西省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 698.853287s

In [100]:
combine['毕业中学类别'].value_counts()

0       81862
示范高中     2466
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [101]:
guizhou_sf = pd.read_excel(file37,sheet_name = '贵州省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(guizhou_sf)):
        if combine.iloc[i,20] == 0 and guizhou_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "贵州省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 700.142395s

In [102]:
combine['毕业中学类别'].value_counts()

0       81628
示范高中     2700
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [103]:
guangxi_sf = pd.read_excel(file37,sheet_name = '广西省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(guangxi_sf)):
        if combine.iloc[i,20] == 0 and guangxi_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "广西省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 942.286041s

In [104]:
combine['毕业中学类别'].value_counts()

0       81442
示范高中     2886
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [105]:
henan_sf = pd.read_excel(file37,sheet_name = '河南省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(henan_sf)):
        if combine.iloc[i,20] == 0 and henan_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "河南省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1111.088396s

In [106]:
combine['毕业中学类别'].value_counts()

0       80591
示范高中     3737
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [107]:
hubei_sf = pd.read_excel(file37,sheet_name = '湖北省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(hubei_sf)):
        if combine.iloc[i,20] == 0 and hubei_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "湖北省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 673.941657s

In [108]:
combine['毕业中学类别'].value_counts()

0       79924
示范高中     4404
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [109]:
hainan_sf = pd.read_excel(file37,sheet_name = '海南省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(hainan_sf)):
        if combine.iloc[i,20] == 0 and hainan_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "海南省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 135.649221s

In [110]:
combine['毕业中学类别'].value_counts()

0       79872
示范高中     4456
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [111]:
guangdong_sf = pd.read_excel(file37,sheet_name = '广东省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(guangdong_sf)):
        if combine.iloc[i,20] == 0 and guangdong_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "广东省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 686.145157s

In [112]:
combine['毕业中学类别'].value_counts()

0       79276
示范高中     5052
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [113]:
fujian_sf = pd.read_excel(file37,sheet_name = '福建省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(fujian_sf)):
        if combine.iloc[i,20] == 0 and fujian_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "福建省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 718.656734s

In [114]:
combine['毕业中学类别'].value_counts()

0       78889
示范高中     5439
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [115]:
jiangxi_sf = pd.read_excel(file37,sheet_name = '江西省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(jiangxi_sf)):
        if combine.iloc[i,20] == 0 and jiangxi_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "江西省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 88.807444s

In [116]:
combine['毕业中学类别'].value_counts()

0       78741
示范高中     5587
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [117]:
yunnan_sf = pd.read_excel(file37,sheet_name = '云南省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(yunnan_sf)):
        if combine.iloc[i,20] == 0 and yunnan_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "云南省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 836.990923s

In [118]:
combine['毕业中学类别'].value_counts()

0       78651
示范高中     5677
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [120]:
file38 = "/home/centos/Documents/admission_analysis/示范高中名单.xlsx"
sichuan_sf = pd.read_excel(file38,sheet_name = '四川省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(sichuan_sf)):
        if combine.iloc[i,20] == 0 and sichuan_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "四川省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1250.402510s

In [121]:
combine['毕业中学类别'].value_counts()

0       78169
示范高中     6159
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [122]:
hunan_sf = pd.read_excel(file38,sheet_name = '湖南省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(hunan_sf)):
        if combine.iloc[i,20] == 0 and hunan_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "湖南省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 861.527348s

In [123]:
combine['毕业中学类别'].value_counts()

0       77587
示范高中     6741
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [124]:
hubei_sf = pd.read_excel(file38,sheet_name = '湖北省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(hubei_sf)):
        if combine.iloc[i,20] == 0 and hubei_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "湖北省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 658.953485s

In [125]:
combine['毕业中学类别'].value_counts()

0       77287
示范高中     7041
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [126]:
anhui_sf = pd.read_excel(file38,sheet_name = '安徽省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(anhui_sf)):
        if combine.iloc[i,20] == 0 and anhui_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "安徽省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1125.000866s

In [127]:
combine['毕业中学类别'].value_counts()

0       76481
示范高中     7847
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [128]:
zhejiang_sf = pd.read_excel(file38,sheet_name = '浙江省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(zhejiang_sf)):
        if combine.iloc[i,20] == 0 and zhejiang_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "浙江省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1425.794979s

In [129]:
combine['毕业中学类别'].value_counts()

0       75514
示范高中     8814
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [130]:
jiangsu_sf = pd.read_excel(file38,sheet_name = '江苏省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(jiangsu_sf)):
        if combine.iloc[i,20] == 0 and jiangsu_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "江苏省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 1105.929987s

In [131]:
combine['毕业中学类别'].value_counts()

0       74510
示范高中     9818
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [132]:
heilongjiang_sf = pd.read_excel(file38,sheet_name = '黑龙江省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(heilongjiang_sf)):
        if combine.iloc[i,20] == 0 and heilongjiang_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "黑龙江省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 505.257573s

In [133]:
liaoning_sf = pd.read_excel(file38,sheet_name = '辽宁省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(liaoning_sf)):
        if combine.iloc[i,20] == 0 and liaoning_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "辽宁省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 650.064104s

In [134]:
jilin_sf = pd.read_excel(file38,sheet_name = '吉林省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(jilin_sf)):
        if combine.iloc[i,20] == 0 and jilin_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "吉林省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 228.049769s

In [135]:
shandong_sf = pd.read_excel(file38,sheet_name = '山东省')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(shandong_sf)):
        if combine.iloc[i,20] == 0 and sh andong_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "山东省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 635.919039s

In [138]:
file39 = "/home/centos/Documents/admission_analysis/示范高中名单（剩下的几个省份）.xlsx"

In [139]:
neimenggu_sf = pd.read_excel(file39,sheet_name = '内蒙古')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(neimenggu_sf)):
        if combine.iloc[i,20] == 0 and neimenggu_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "内蒙古自治区"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 326.445817s

In [140]:
ningxia_sf = pd.read_excel(file39,sheet_name = '宁夏')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(ningxia_sf)):
        if combine.iloc[i,20] == 0 and ningxia_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "宁夏自治区"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 198.264478s

In [141]:
qinghai_sf = pd.read_excel(file39,sheet_name = '青海')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(qinghai_sf)):
        if combine.iloc[i,20] == 0 and qinghai_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "青海省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 43.212316s

In [142]:
xizang_sf = pd.read_excel(file39,sheet_name = '西藏')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(xizang_sf)):
        if combine.iloc[i,20] == 0 and xizang_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "西藏自治区"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 57.481219s

In [143]:
xinjiang_sf = pd.read_excel(file39,sheet_name = '新疆')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(xinjiang_sf)):
        if combine.iloc[i,20] == 0 and xinjiang_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "新疆自治区"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 265.117194s

In [144]:
gansu_sf = pd.read_excel(file39,sheet_name = '甘肃')

time_start = time.time()
for i in range(len(combine)):
    for j in range(len(gansu_sf)):
        if combine.iloc[i,20] == 0 and gansu_sf.iloc[j,0] == combine.iloc[i,18]:
            combine.iloc[i,19] = "甘肃省"
            combine.iloc[i,20] = "示范高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 241.136047s

In [145]:
combine['毕业中学类别'].value_counts()

0       71389
示范高中    12939
普通高中     1912
职业高中      227
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [146]:
combine['毕业中学所在省'].value_counts()

0         71381
北京市        1627
河北省        1152
江苏省        1004
湖北省         967
浙江省         967
河南省         854
陕西省         821
安徽省         806
山东省         769
黑龙江省        692
广东省         596
湖南省         582
天津市         507
四川省         482
辽宁省         455
内蒙古自治区      418
吉林省         404
福建省         387
重庆市         333
贵州省         234
广西省         186
山西省         160
新疆自治区       152
江西省         148
甘肃省         118
宁夏自治区       115
云南省          90
上海市          78
海南省          52
重河北省          7
青海省           2
西藏自治区         1
Name: 毕业中学所在省, dtype: int64

In [147]:
combine.iloc[3,22]

'山东省'

In [149]:
combine.iloc[15,18]

'安徽省阜阳市阜南县实验中学'

In [151]:
if "中学" in combine.iloc[15,18]:
    print("Yes")

Yes

In [ ]:
职业中学
职业技术中学
职业高级中学
职业高中
技术高级中学
技术高中

In [155]:
#职业高中
time_start = time.time()
for i in range(len(combine)):
    if ("职业中学" in combine.iloc[i,18] or "职业技术中学" in combine.iloc[i,18]
                                or "职业高级中学" in combine.iloc[i,18] or "职业高中" in combine.iloc[i,18]
                               or "技术高级中学" in combine.iloc[i,18] or "技术高中" in combine.iloc[i,18]):
        combine.iloc[i,19] = combine.iloc[i,22] # 按高考所在省填充
        combine.iloc[i,20] = "职业高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 12.853135s

In [156]:
combine['毕业中学类别'].value_counts()

0       45290
普通高中    27853
示范高中    12939
职业高中      385
中职学校       79
技工学校        1
Name: 毕业中学类别, dtype: int64

In [157]:
#中专学校
time_start = time.time()
for i in range(len(combine)):
    if combine.iloc[i,20] == 0 and ("学校" in combine.iloc[i,18] or "学院" in combine.iloc[i,18]):
        combine.iloc[i,19] = combine.iloc[i,22] # 按高考所在省填充
        combine.iloc[i,20] = "中职学校" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 23.503207s

In [158]:
combine['毕业中学类别'].value_counts()

0       36024
普通高中    27853
示范高中    12939
中职学校     9345
职业高中      385
技工学校        1
Name: 毕业中学类别, dtype: int64

In [159]:
#普通高中
time_start = time.time()
for i in range(len(combine)):
    if combine.iloc[i,20] == 0 and ("中学" in combine.iloc[i,18] or "高中" in combine.iloc[i,18]):
        combine.iloc[i,19] = combine.iloc[i,22] # 按高考所在省填充
        combine.iloc[i,20] = "普通高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 45.957755s

In [160]:
combine['毕业中学类别'].value_counts()

普通高中    50167
0       13710
示范高中    12939
中职学校     9345
职业高中      385
技工学校        1
Name: 毕业中学类别, dtype: int64

In [164]:
combine.iloc[15,18].endswith("中学")

True

In [165]:
#普通高中
time_start = time.time()
for i in range(len(combine)):
    if combine.iloc[i,20] == 0 and combine.iloc[i,18].endswith("中"):
        combine.iloc[i,19] = combine.iloc[i,22] # 按高考所在省填充
        combine.iloc[i,20] = "普通高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 21.541625s

In [166]:
combine['毕业中学类别'].value_counts()

普通高中    60503
示范高中    12939
中职学校     9345
0        3374
职业高中      385
技工学校        1
Name: 毕业中学类别, dtype: int64

In [167]:
combine.to_excel(r'/home/centos/Documents/admission_analysis/最终数据修改版.xlsx', index = False)

In [168]:
file40 = "/home/centos/Documents/admission_analysis/综合信息汇总（删减版）.xls"

In [169]:
total = pd.read_excel(file40)

In [170]:
time_start = time.time()
for i in range(len(total)):
    if total.iloc[i,20] == 0:
        total.iloc[i,19] = total.iloc[i,22] # 按高考所在省填充

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 6.437364s

In [171]:
#中职学校
time_start = time.time()
for i in range(len(total)):
    if ("职专" in total.iloc[i,18] or "中专" in total.iloc[i,18] or "职业教育中心" in total.iloc[i,18]):
        #total.iloc[i,19] = total.iloc[i,22] # 按高考所在省填充
        total.iloc[i,20] = "中职学校" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 8.443573s

In [172]:
#普通高中
time_start = time.time()
for i in range(len(total)):
    if total.iloc[i,20] == 0:
        #total.iloc[i,19] = total.iloc[i,22] # 按高考所在省填充
        total.iloc[i,20] = "普通高中" # 中学类别      

time_end = time.time()
print('Time cost = %fs' % (time_end - time_start))

Time cost = 6.869179s

In [173]:
total.to_excel(r'/home/centos/Documents/admission_analysis/最终数据修改版（部分修改）.xlsx', index = False)

In [2]:
import pandas as pd

In [3]:
#data = pd.read_excel("/home/centos/Documents/admission_analysis/回归分析两独热+哈希编码版.xlsx")
data = pd.read_excel("/Users/ichigo34/Downloads/2.招生数据分析项目/回归分析/回归分析两独热+哈希编码版.xlsx")

In [4]:
import numpy as np

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
X = data.iloc[:,1:98]

In [7]:
X

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,招生年度,性别,...,户口所在地-贵州省,户口所在地-辽宁省,户口所在地-重庆市,户口所在地-陕西省,户口所在地-青海省,户口所在地-香港特别行政区,户口所在地-黑龙江省,考试科目数量,考试大致难度,计划录取人数
0,0,0,1,0,0,1,0,1,2016,0,...,0,0,0,0,0,0,0,3,5,10
1,0,0,0,0,1,1,0,1,2016,0,...,0,0,0,0,0,0,0,3,5,10
2,0,0,0,0,0,0,1,2,2016,1,...,0,0,0,0,0,0,1,3,4,70
3,0,0,1,0,0,0,1,1,2016,1,...,0,0,0,0,0,0,0,2,3,20
4,0,0,1,1,0,1,0,0,2016,1,...,0,0,0,0,0,0,0,2,3,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113676,2,0,0,0,0,0,1,0,2018,1,...,0,0,0,0,0,0,0,3,6,18
113677,0,0,0,2,0,0,0,1,2018,1,...,0,0,0,0,0,0,0,1,5,15
113678,1,1,0,0,1,0,0,0,2018,0,...,0,0,0,0,0,0,0,4,7,15
113679,0,1,0,0,0,0,2,0,2018,0,...,0,0,0,0,0,0,0,4,7,50
113680,1,0,0,0,0,0,1,1,2018,1,...,0,0,0,0,0,0,0,3,5,20

In [8]:
y = data['是否发放合格证']

In [9]:
x_train, x_test, y_train, y_test = train_test_split(X,y,train_size = 0.8 , test_size = 0.2 , stratify = y)

In [10]:
from sklearn.linear_model import LogisticRegression

In [11]:
log_reg = LogisticRegression()
log_reg.fit(x_train, y_train)

#LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
#          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
#          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
#          verbose=0, warm_start=False)

/Users/ichigo34/anaconda3/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

In [12]:
log_reg.score(x_train, y_train)

0.965341308937368

In [13]:
y_predict = log_reg.predict(x_test)

In [14]:
log_reg.score(x_test, y_predict)

1.0

In [15]:
log_reg.score(x_test, y_test)

0.9653428332673616

In [16]:
from sklearn.metrics import r2_score

In [18]:
print("训练集合上R^2 = {:.3f}".format(log_reg.score(x_train, y_train)))
print("测试集合上R^2 = {:.3f} ".format(log_reg.score(x_test, y_test)))

训练集合上R^2 = 0.965
测试集合上R^2 = 0.965

In [19]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test,y_predict))

from sklearn.metrics import precision_score
print(precision_score(y_test,y_predict))

from sklearn.metrics import  recall_score
print(recall_score(y_test,y_predict))

[[21949     0]
 [  788     0]]
0.0
0.0

/Users/ichigo34/anaconda3/lib/python3.7/site-packages/sklearn/metrics/_classification.py:1308: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))